@charset "utf-8";
/* CSS Document */
#webimage1 {
	width: 281px;
	height: 160px;
	position: absolute;
	top: 101px;
	left: 333px;
}
#fb {
	width: 20px;
	height: 20px;
	position: absolute;
	top: 5px;
	left: 994px;
	text-indent: 0px;
}
#in {
	width: 20px;
	height: 20px;
	position: absolute;
	top: 5px;
	left: 1020px;
}
#twt {
	width: 20px;
	height: 20px;
	position: absolute;
	top: 5px;
	left: 1047px;
}
#ytube {
	width: 20px;
	height: 20px;
	position: absolute;
	top: 5px;
	left: 1073px;
}
#call {
	width: 110px;
	height: 30px;
	top: 30px;
	left: 984px;
	position: absolute;
	color: hsla(0,11%,98%,1.00);
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
	font-style: normal;
	font-size: medium;
	clear: both;
	overflow-x: visible;
	font-variant: small-caps;
	font-weight: bold;
	line-height: 34px;
	text-indent: 0px;
}

#webimage2 {
	width: 250px;
	height: 130px;
	position: absolute;
	top: 112px;
	left: 294px;
	z-index: -15;
}

#webimage3 {
	width: 240px;
	height: 100px;
	position: absolute;
	top: 130px;
	left: 264px;
	z-index: -30;
}

#background1 {
	width: 900px;
	height: 303px;
	position: absolute;
	top: 1px;
	left: 235px;
	z-index: -59;
	background-image: -webkit-linear-gradient(0deg,rgba(0,0,0,1.00) 0%,rgba(0,0,0,1.00) 11.40%,rgba(0,0,0,1.00) 16.58%,rgba(106,98,98,1.00) 36.27%,rgba(115,105,105,1.00) 47.15%,rgba(95,86,86,1.00) 57.51%,rgba(59,50,50,1.00) 68.91%,rgba(42,38,38,1.00) 77.20%,rgba(0,0,0,1.00) 84.97%,rgba(0,0,0,1.00) 100%);
	background-image: -moz-linear-gradient(0deg,rgba(0,0,0,1.00) 0%,rgba(0,0,0,1.00) 11.40%,rgba(0,0,0,1.00) 16.58%,rgba(106,98,98,1.00) 36.27%,rgba(115,105,105,1.00) 47.15%,rgba(95,86,86,1.00) 57.51%,rgba(59,50,50,1.00) 68.91%,rgba(42,38,38,1.00) 77.20%,rgba(0,0,0,1.00) 84.97%,rgba(0,0,0,1.00) 100%);
	background-image: -o-linear-gradient(0deg,rgba(0,0,0,1.00) 0%,rgba(0,0,0,1.00) 11.40%,rgba(0,0,0,1.00) 16.58%,rgba(106,98,98,1.00) 36.27%,rgba(115,105,105,1.00) 47.15%,rgba(95,86,86,1.00) 57.51%,rgba(59,50,50,1.00) 68.91%,rgba(42,38,38,1.00) 77.20%,rgba(0,0,0,1.00) 84.97%,rgba(0,0,0,1.00) 100%);
	background-image: linear-gradient(90deg,rgba(0,0,0,1.00) 0%,rgba(0,0,0,1.00) 11.40%,rgba(0,0,0,1.00) 16.58%,rgba(106,98,98,1.00) 36.27%,rgba(115,105,105,1.00) 47.15%,rgba(95,86,86,1.00) 57.51%,rgba(59,50,50,1.00) 68.91%,rgba(42,38,38,1.00) 77.20%,rgba(0,0,0,1.00) 84.97%,rgba(0,0,0,1.00) 100%);
}


#logo {
	width: 270px;
	height: 70px;
	position: absolute;
	top: 1px;
	left: 236px;
}
#background2 {
	width: 900px;
	height: 53px;
	position: absolute;
	top: 250px;
	left: 235px;
	z-index: -56;
	background-color: hsla(0,5%,8%,1.00);
}
#background3 {
	width: 900px;
	height: 100px;
	position: absolute;
	left: 235px;
	z-index: -60;
	background-color: hsla(0,1%,69%,1.00);
	top: 305px;
}

#home {
	width: 55px;
	height: 22px;
	position: absolute;
	top: 70px;
	left: 485px;
	color: hsla(240,16%,96%,1.00);
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
	font-style: oblique;
	font-variant: normal;
	font-weight: bold;
	font-size: medium;
	border: 2px solid hsla(257,93%,54%,1.00);
	border-radius: 5px;
	background-color: hsla(256,94%,73%,1.00);
	border-collapse: collapse;
	border-spacing: 0px 0px;
	text-align: center;
}

#about {
	width: 86px;
	height: 22px;
	position: absolute;
	top: 70px;
	left: 544px;
	color: hsla(240,16%,96%,1.00);
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
	font-style: oblique;
	font-variant: normal;
	font-weight: bold;
	font-size: medium;
	border: 2px solid hsla(257,93%,54%,1.00);
	border-radius: 5px;
	background-color: hsla(256,94%,73%,1.00);
	border-collapse: collapse;
	border-spacing: 0px 0px;
	text-align: center;
}

#portfolio {
	width: 99px;
	height: 22px;
	position: absolute;
	top: 70px;
	left: 634px;
	color: hsla(240,16%,96%,1.00);
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
	font-style: oblique;
	font-variant: normal;
	font-weight: bold;
	font-size: medium;
	border: 2px solid hsla(257,93%,54%,1.00);
	border-radius: 5px;
	background-color: hsla(256,94%,73%,1.00);
	border-collapse: collapse;
	border-spacing: 0px 0px;
	text-align: center;
}

#netmarrket {
	width: 189px;
	height: 22px;
	position: absolute;
	top: 70px;
	left: 737px;
	color: hsla(240,16%,96%,1.00);
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
	font-style: oblique;
	font-variant: normal;
	font-weight: bold;
	font-size: medium;
	border: 2px solid hsla(257,93%,54%,1.00);
	border-radius: 5px;
	background-color: hsla(256,94%,73%,1.00);
	border-collapse: collapse;
	border-spacing: 0px 0px;
	text-align: center;
}

#blog {
	width: 48px;
	height: 22px;
	position: absolute;
	top: 70px;
	left: 930px;
	color: hsla(240,16%,96%,1.00);
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
	font-style: oblique;
	font-variant: normal;
	font-weight: bold;
	font-size: medium;
	border: 2px solid hsla(257,93%,54%,1.00);
	border-radius: 5px;
	background-color: hsla(256,94%,73%,1.00);
	border-collapse: collapse;
	border-spacing: 0px 0px;
	text-align: center;
}

#contact {
	width: 108px;
	height: 22px;
	position: absolute;
	top: 70px;
	left: 982px;
	color: hsla(240,16%,96%,1.00);
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
	font-style: oblique;
	font-variant: normal;
	font-weight: bold;
	font-size: medium;
	border: 2px solid hsla(257,93%,54%,1.00);
	border-radius: 5px;
	background-color: hsla(256,94%,73%,1.00);
	border-collapse: collapse;
	border-spacing: 0px 0px;
	text-align: center;
}

#news {
	width: 295px;
	height: 10px;
	position: absolute;
	top: 90px;
	left: 704px;
	color: hsla(0,0%,100%,1.00);
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
	font-style: italic;
	font-variant: small-caps;
	font-weight: bolder;
	font-size: xx-large;
	text-align: center;
}

#news2 {
	width: 217px;
	height: 30px;
	top: 176px;
	left: 753px;
	color: hsla(188,93%,56%,1.00);
	font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, serif;
	font-style: normal;
	font-weight: bold;
	font-size: x-small;
	position: absolute;
}
#borderport {
	width: 221px;
	height: 25px;
	position: absolute;
	top: 259px;
	left: 741px;
	color: hsla(0,0%,100%,1.00);
	font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", monospace;
	font-style: normal;
	font-weight: bolder;
	font-size: large;
	border: 5px groove hsla(105,60%,42%,1.00);
	border-radius: 10px;
	background-color: hsla(218,82%,57%,1.00);
	text-align: center;
}

#wl {
	width: 100px;
	height: 70px;
	position: absolute;
	top: 330px;
	left: 258px;
	
}
#im {
	width: 100px;
	height: 70px;
	position: absolute;
	top: 330px;
	left: 477px;
}
#sn {
	width: 100px;
	height: 70px;
	position: absolute;
	top: 330px;
	left: 694px;
}
#rs {
	width: 100px;
	height: 70px;
	position: absolute;
	top: 330px;
	left: 917px;
}
#wl2 {
	width: 130px;
	position: absolute;
	top: 332px;
	left: 328px;
	color: hsla(0,5%,26%,1.00);
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
	font-style: normal;
	font-variant: normal;
	font-weight: bold;
	font-size: xx-small;
	height: 20px;
}
#im2 {
	width: 130px;
	position: absolute;
	top: 332px;
	left: 545px;
	color: hsla(0,5%,26%,1.00);
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
	font-style: normal;
	font-variant: normal;
	font-weight: bold;
	font-size: xx-small;
	height: 20px;
}
#sn2 {
	width: 130px;
	position: absolute;
	top: 332px;
	left: 760px;
	color: hsla(0,5%,26%,1.00);
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
	font-style: normal;
	font-variant: normal;
	font-weight: bold;
	font-size: xx-small;
	height: 20px;
}
#rs2 {
	width: 130px;
	position: absolute;
	top: 332px;
	left: 983px;
	color: hsla(0,5%,26%,1.00);
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
	font-style: normal;
	font-variant: normal;
	font-weight: bold;
	font-size: xx-small;
	height: 20px;
}

#noticebackground {
	width: 520px;
	height: 300px;
	left: 236px;
	top: 405px;
	position: absolute;
	background-color: hsla(0,26%,96%,1.00);
}
#mszbacground {
	width: 379px;
	height: 300px;
	position: absolute;
	left: 756px;
	top: 405px;
	background-color: hsla(0,5%,84%,1.00);
}
#stmnt {
	width: 898px;
	height: 40px;
	position: absolute;
	top: 665px;
	left: 237px;
	background-color: hsla(0,1%,17%,1.00);
}
#news3 {
	width: 295px;
	height: 50px;
	position: absolute;
	top: 392px;
	left: 286px;
	color: hsla(0,5%,26%,1.00);
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
	font-style: normal;
	font-variant: normal;
	font-weight: bold;
	font-size: xx-small;
}
#news4 {
	width: 396px;
	height: 50px;
	position: absolute;
	top: 561px;
	left: 286px;
	color: hsla(0,5%,26%,1.00);
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
	font-style: normal;
	font-variant: normal;
	font-weight: bold;
	font-size: xx-small;
}
#smlborder {
	width: 521px;
	height: 13px;
	position: absolute;
	top: 523px;
	left: 236px;
	background-color: hsla(357,10%,60%,1.00);
}
#nmbdr {
	width: 280px;
	height: 24px;
	position: absolute;
	top: 434px;
	left: 835px;
	border: thin solid hsla(0,0%,100%,1.00);
	background-color: hsla(0,0%,100%,1.00);
}
#cont {
	width: 90px;
	height: 30px;
	position: absolute;
	top: 405px;
	left: 796px;
	color: hsla(140,56%,55%,1.00);
	font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", monospace;
	font-style: normal;
	font-variant: normal;
	font-weight: bolder;
	font-size: x-large;
}
#email {
	width: 280px;
	height: 24px;
	position: absolute;
	top: 466px;
	left: 835px;
	border: thin solid hsla(0,0%,100%,1.00);
	background-color: hsla(0,0%,100%,1.00);
}
#phn {
	width: 280px;
	height: 19px;
	position: absolute;
	top: 498px;
	left: 835px;
	border: thin solid hsla(0,0%,100%,1.00);
	background-color: hsla(0,0%,100%,1.00);
}
#msz {
	width: 280px;
	height: 95px;
	position: absolute;
	top: 527px;
	left: 835px;
	border: thin solid hsla(0,0%,100%,1.00);
	background-color: hsla(0,0%,100%,1.00);
}
#submit {
	width: 80px;
	height: 23px;
	position: absolute;
	top: 633px;
	left: 1037px;
	border: thin groove hsla(0,0%,100%,1.00);
	background-color: hsla(184,44%,58%,1.00);
	color: hsla(233,76%,35%,1.00);
	font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", sans-serif;
	font-style: normal;
	font-weight: normal;
	text-align: center;
	font-size: large;
	border-radius: 10px;
}
#nm {
	width: 50px;
	height: 30px;
	position: absolute;
	top: 435px;
	left: 780px;
	color: hsla(0,0%,0%,1.00);
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
	font-style: normal;
	font-size: medium;
}
#ml {
	width: 50px;
	height: 30px;
	position: absolute;
	top: 463px;
	left: 780px;
	color: hsla(0,0%,0%,1.00);
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
	font-style: normal;
	font-size: medium;
}
#pn {
	width: 50px;
	height: 30px;
	position: absolute;
	top: 495px;
	left: 785px;
	color: hsla(0,0%,0%,1.00);
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
	font-style: normal;
	font-size: medium;
}
#mz {
	width: 50px;
	height: 30px;
	position: absolute;
	top: 532px;
	left: 767px;
	color: hsla(0,0%,0%,1.00);
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
	font-style: normal;
	font-size: medium;
}
#stmnt2 {
	width: 485px;
	height: 50px;
	position: absolute;
	top: 675px;
	left: 410px;
	color: hsla(0,0%,100%,1.00);
	font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, serif;
	font-style: italic;
	font-size: small;
	text-align: center;
}

#gradiant {
	width: 1400px;
	height: 800px;
	position: absolute;
	top: 5px;
	left: 10px;
	background-image: -webkit-linear-gradient(283deg,rgba(255,255,255,1.00) 0%,rgba(70,25,179,1.00) 13.47%,rgba(82,24,167,1.00) 25.91%,rgba(28,145,229,1.00) 36.79%,rgba(26,171,65,1.00) 48.70%,rgba(192,220,33,1.00) 59.59%,rgba(239,95,21,1.00) 72.02%,rgba(244,14,214,1.00) 81.35%,rgba(6,249,223,1.00) 91.19%,rgba(255,0,0,1.00) 100%);
	background-image: -moz-linear-gradient(283deg,rgba(255,255,255,1.00) 0%,rgba(70,25,179,1.00) 13.47%,rgba(82,24,167,1.00) 25.91%,rgba(28,145,229,1.00) 36.79%,rgba(26,171,65,1.00) 48.70%,rgba(192,220,33,1.00) 59.59%,rgba(239,95,21,1.00) 72.02%,rgba(244,14,214,1.00) 81.35%,rgba(6,249,223,1.00) 91.19%,rgba(255,0,0,1.00) 100%);
	background-image: -o-linear-gradient(283deg,rgba(255,255,255,1.00) 0%,rgba(70,25,179,1.00) 13.47%,rgba(82,24,167,1.00) 25.91%,rgba(28,145,229,1.00) 36.79%,rgba(26,171,65,1.00) 48.70%,rgba(192,220,33,1.00) 59.59%,rgba(239,95,21,1.00) 72.02%,rgba(244,14,214,1.00) 81.35%,rgba(6,249,223,1.00) 91.19%,rgba(255,0,0,1.00) 100%);
	background-image: linear-gradient(167deg,rgba(255,255,255,1.00) 0%,rgba(70,25,179,1.00) 13.47%,rgba(82,24,167,1.00) 25.91%,rgba(28,145,229,1.00) 36.79%,rgba(26,171,65,1.00) 48.70%,rgba(192,220,33,1.00) 59.59%,rgba(239,95,21,1.00) 72.02%,rgba(244,14,214,1.00) 81.35%,rgba(6,249,223,1.00) 91.19%,rgba(255,0,0,1.00) 100%);
	z-index: 50;
}


